
body {
    margin: 0;
    
}

nav {
    height: 60px;

    display: flex;
    align-items: center;

    padding: 10px 20px;

    border-bottom: 2px solid black;
}
nav * { margin-right: 20px; }
nav h3:has(a), nav a { margin-left: auto; }

form {
    margin: 20px auto;
    padding: 20px;
}

form:not(.search_form) {
    width: fit-content;
    
    border: 2px solid black;
    box-shadow: 8px 8px 0px 1px #000000;
}
form:has(> div) {
    margin-top: 0px;
}

div {
    margin: 20px;
    padding: 10px 30px;

    border: 2px solid black;
}

div > div {
    margin: 20px 0px;
    border-top: 5px solid black;
    border-right: 3px solid black;
}

a,input[type="submit"]{
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    padding: 6px 12px;
    margin-bottom: 6px;
    display: inline-block;
    box-shadow: 2px 2px 0px 1px #000000;

}

a:active, input[type="submit"]:active{
    position: relative;
    bottom: -2px;
    left: 2px;
    box-shadow: none;
}

